@use "./variables" as v;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: v.$texto-universal;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    font-weight: bold;
    font-family: v.$title;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}
.contenido{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.leer{
    max-width: 600px;
    margin: 0 auto;
    width: 95%;
}
.titulos-center{
    text-align: center;
}