//Fuentes
$texto-universal:'Raleway', sans-serif;
$title:'Playfair Display', serif;



//Colores
$blanco:#fff;
$negro:#000;
$verde:#8cbc00;
$azul:#037bc0;
$azul-claro:#005485;
$borde:#e1e1e1;


//Media
$telefono:480px;
$tablet:768px;
$desktop:1080px;